<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="shortcut icon" href="/static/imagens/logo.PNG" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>{{ produto.nome }}</title>
</head>

<body id="corpo-cardapio">
    <header class="head">
        <div class="logo">
            <a href="/">
                <h1 class="bangers-regular" style="text-shadow: 0 5px 7px #be4f2a;">SWEET DREAMS</h1>
            </a>
        </div>
            


        <div class="simbolos">
            <img src="/static/imagens/logo.PNG" alt="icone" class="hbutao">
        </div>
    </header>

    <main class="meio">
        <!-- Product Display -->
        <section class="product-display">
            <div class="imagens-c">
                <img src="{{ produto.image_url }}" alt="Produto principal" class="maior">
                <div class="rapaiz">
                    <img src="{{ produto.image_url2 }}" alt="foto2" class="menores">
                    <img src="{{ produto.image_url3 }}" alt="foto3" class="menores">
                    <img src="{{ produto.image_url4 }}" alt="foto4" class="menores">
                </div>
            </div>

            <div class="product-details">
                <div class="bruh">
                    <h1 class="bangers-regular">{{produto.nome}}</h1>
                    <img src="/static/imagens/pausa.png" alt="pausa dnv" class="ah">
                </div>
                <p class="description bangers-regular destaque">{{produto.descricao}}</p>
                <p class="price bangers-regular">R${{produto.preco}}</p>
                <audio id="meuAudio" src="/static/imagens/Eurythmics - Sweet Dreams (Are Made of This) (Remastered).mp3"></audio>

                <button id="playPause" class="pluh bangers-regular">Comprar agora</button>

                
                <div class="add-ons">
                    <div class="adicionar">
                        <img src="/static/imagens/adicionais.png" alt="adicionais" class="imagem-adicionais">
                    </div>
                    <div class="bot">
                        <button class="bangers-regular add">{{produto.adicional}}</button>
                        <button class="bangers-regular add">{{produto.adicional2}}</button>
                    </div>
                </div>
                
            </div>
            <img src="/static/imagens/mascote.gif" alt="gif do mascote" class="mascote">
        </section>

        <!-- Reviews -->
        <section class="reviews">
            <h2 class="bangers-regular destaque">Avaliações</h2>
            {% if reviews %}

            {% for review in reviews %}
            <div class="review-item">
                <p class="bangers-regular"><strong class="bangers-regular">Usuário: </strong>{{ review[0] }} <br>
                    <strong class="bangers-regular">Avaliação: </strong>{{ review[1] }}
                </p>
            </div>

            {% endfor %}

            {% else %}
            <p class="bangers-regular destaque">Não há avaliações para este produto.</p>
            {% endif %}
            <button class="add-review-btn bangers-regular" onclick="showModal()">Adicionar Avaliação</button>
        </section>

        <div class="review-modal" style="display: none;">
            <div class="modal-content">
                <button class="close-btn" onclick="closeModal()">&times;</button>
                <h3 class="bangers-regular">Adicionar Avaliação</h3>
                <form id="review-form" method="POST">

                    <input type="hidden" id="product-id" name="product_id" value="{{ produto.id }}">

                    <label for="review-name" class="bangers-regular">Nome:</label>
                    <input type="text" id="user_name" name="user_name" required>

                    <label for="review-text" class="bangers-regular">Avaliação:</label>
                    <textarea id="avaliacao" name="avaliacao" rows="4" required></textarea>

                    <button type="submit" class="aval bangers-regular">Enviar Avaliação</button>
                </form>
            </div>
        </div>



        <!-- Suggestions -->
        <section class="suggestions">
            <h2 class="bangers-regular destaque">Sugestões</h2>
            <div class="carousel">
                {% for foto in fotos %}
                <a href="/cardapio?id={{foto.id}}"><img src="{{foto.image_url}}" alt="Sugestão {{foto.id}}"></a>
                {% endfor %}


            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="footer-line"></div>
        <div class="footer-content">
            <div class="social-media">
                <h3 class="bangers-regular">REDES SOCIAIS</h3>
                <p class="bangers-regular">
                    <i class="fa-brands fa-instagram"></i>sweetdreams.80s</p>
                <p class="bangers-regular">(98) 9 4002-7922</p>
            </div>

            <div class="address">
                <h3 class="bangers-regular">ENDEREÇO</h3>
                <p class="bangers-regular">RUA Humberto de Campos, BACABEIRA-MA</p>
                <p style="color: #a10101" class="bangers-regular">é segredo!</p>
                
                

            </div>
        </div>
    </footer>

</body>
<script>
    const audio = document.getElementById('meuAudio');
const playPauseButton = document.getElementById('playPause');

playPauseButton.addEventListener('click', () => {
    if (audio.paused) {
        audio.play();
        playPauseButton.textContent = 'Descomprar agora';
    } else {
        audio.pause();
        playPauseButton.textContent = 'Comprar agora';
    }
});
</script>
<script src="/static/script.js"></script>

</html>