<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="shortcut icon" href="/static/imagens/logo.PNG" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Crud</title>
</head>
<body class="crud-page">
    <header class="head">
        <div class="logo">
            <a href="/">
                <h1 class="bangers-regular" style="text-shadow: 0 5px 7px #be4f2a;">SWEET DREAMS</h1>
            </a>
        </div>
        <div class="parece">
            <audio id="meuAudio" src="/static/imagens/Eurythmics - Sweet Dreams (Are Made of This) (Remastered).mp3"></audio>
        <div class="audio-player">
                <button id="playPause" class="bangers-regular">Play</button>
        </div>
        </div>
        <div class="simbolos">
            <img src="/static/imagens/logo.PNG" alt="icone" class="hbutao">
        </div>
    </header>

    <main class="meio" style="height:auto; font-family: Verdana, sans-serif;">
        <h1 class="bangers-regular destaque">Gerenciar Produtos</h1>
    
        <form id="product-form" enctype="multipart/form-data">
            <input type="hidden" id="product-id">
            <label for="nome" class="bangers-regular destaque">Nome:</label>
            <input type="text" id="nome" required class="bangers-regular">
        
            <label for="descricao" class="bangers-regular destaque">Descrição:</label>
            <input type="text" id="descricao" required class="bangers-regular">
        
            <label for="preco" class="bangers-regular destaque">Preço:</label>
            <input type="number" step="0.01" id="preco" required class="bangers-regular">
        
            <label for="image_url" class="bangers-regular destaque">Imagem 1:</label>
            <input type="file" name="image_url" id="image_url" class="bangers-regular">
    
            <label for="image_url2" class="bangers-regular destaque">Imagem 2:</label>
            <input type="file" name="image_url2" id="image_url2" class="bangers-regular">
    
            <label for="image_url3" class="bangers-regular destaque">Imagem 3:</label>
            <input type="file" name="image_url3" id="image_url3" class="bangers-regular">
    
            <label for="image_url4" class="bangers-regular destaque">Imagem 4:</label>
            <input type="file" name="image_url4" id="image_url4" class="bangers-regular">
        
            <label for="adicional" class="bangers-regular destaque">Adicional 1:</label>
            <input type="text" id="adicional" required class="bangers-regular">
        
            <label for="adicional2" class="bangers-regular destaque">Adicional 2:</label>
            <input type="text" id="adicional2" required class="bangers-regular">
        
            <label for="categoria" class="bangers-regular destaque">Categoria:</label>
            <input type="text" id="categoria" required class="bangers-regular">
        
            <button type="submit" class="bangers-regular">Salvar</button>
        </form>
    
        <table>
            <thead>
                <tr>
                    <th class="bangers-regular">ID</th>
                    <th class="bangers-regular">Nome</th>
                    <th class="bangers-regular">Descrição</th>
                    <th class="bangers-regular">Preço</th>
                    <th class="bangers-regular">Imagem</th>
                    <th class="bangers-regular">Imagem 2</th>
                    <th class="bangers-regular">Imagem 3</th>
                    <th class="bangers-regular">Imagem 4</th>
                    <th class="bangers-regular">Adicional</th>
                    <th class="bangers-regular">Adicional 2</th>
                    <th class="bangers-regular">Categoria</th>
                    <th class="bangers-regular">Ações</th>
                </tr>
            </thead>
            <tbody id="product-list"></tbody>
        </table>
    </main>
    
    <footer class="footer">
        <div class="footer-line"></div>
        <div class="footer-content">
            <div class="social-media">
                <h3>REDES SOCIAIS</h3>
                <p>@_________</p>
                <p>(98) 9 XXXX-XXXX</p>
            </div>

            <div class="address">
                <h3>ENDEREÇO</h3>
                <p>RUA X, N° X, BACABEIRA-MA</p>
            </div>
        </div>
    </footer>
</body>
<script>
    const audio = document.getElementById('meuAudio');
const playPauseButton = document.getElementById('playPause');

playPauseButton.addEventListener('click', () => {
    if (audio.paused) {
        audio.play();
        playPauseButton.textContent = 'Pause';
    } else {
        audio.pause();
        playPauseButton.textContent = 'Play';
    }
});
</script>
<script src="/static/script.js"></script>
</html>