<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Sweet Dreams</title>
</head>
<body>
    <header class="head">
        <div  class="logo">
            <a href="/">
                <h1>SWEET DREAMS</h1>
            </a>
        </div>

        <div class="simbolos">

                <img src="/static/imagens/logo.PNG" alt="icone" class="hbutao">

        </div>
    </header>

    <main>
        <div class="ilustra">
            <div class="cacete">

            </div>

            <div class="mascote">

            </div>
        </div>

        <div class="fita">
            <div class="fitao">

            </div>
        </div>

        <div class="cardapio">
            <div class="card">
                
            </div>
            <div class="jeito">
                <div class="fotinha">
   
                    <img src="/static/imagens/salgado.png" alt="Salgado" class="photo">

                    <img src="/static/imagens/doce.png" alt="Doce" class="photo">

                    <img src="/static/imagens/bebida.png" alt="Imagens" class="photo">
                    
                </div>

                    <div class="buts">
                        <div class="butaos">
                            <div class="tipos" data-filter="salgado" style="margin-left: 12px;"><h2>Salgado</h2></div>
                            <div class="tipos" data-filter="doce"><h2>Doce</h2></div>
                            <div class="tipos" data-filter="bebida" ><h2>Bebida</h2></div>
                            <img src="/static/imagens/pausa.png" alt="simbolo de pausa e play" class="simb" style="margin-right: 12px;">
        
                        </div>
                    </div>
                
            </div>

        </div>
        <div class="cardapao">
            <div class="quadrado">
                <div class="chato">

                    {% for produto in produtos %}
                    <a href="/cardapio?id={{ produto.id }}">
                    <div class="comidasum {{ produto.categoria }}"> 
                        <img src="{{ produto.image_url }}" alt="{{ produto.nome }}" class="photo"> 
                        <div>
                            <h3 style="margin: 10px 0;">{{ produto.nome }}</h3> 
                            <p style="margin: 0;">{{ produto.descricao }}</p> 
                        </div>
                    </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>

    </main>

    <footer class="footer"> 
        <div class="footer-line"></div> 
            <div class="footer-content"> 
                <div class="social-media"> 
                    <h3>REDES SOCIAIS</h3> 
                    <p>@_________</p> 
                    <p>(98) 9 XXXX-XXXX</p> 
                </div> 

                <div class="address"> 
                    <h3>ENDEREÇO</h3> 
                    <p>RUA X, N° X, BACABEIRA-MA</p>
              </div> 
            </div> 
    </footer>

</body>
<script src="/static/script.js"></script>
</html>