<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>
</head>
<body>
    <header class="head">
        <div  class="logo">
            <h1>Sweet Dreams</h1>
        </div>

        <div class="simbolos">

                <img src="/static/imagens/icone.jpeg" alt="icone" class="hbutao">

        </div>
    </header>

    <main>
        <div class="ilustra">
            <div class="cacete">

            </div>

            <div class="mascote">

            </div>
        </div>

        <div class="fita">
            <div class="fitao">

            </div>
        </div>

        <div class="cardapio">
            <div class="card">
                
            </div>
            <div class="jeito">
                <div class="fotinha">
                    <div class="photo">

                    </div>

                    <div class="photo">

                    </div>

                    <div class="photo">

                    </div>
                </div>

                    <div class="buts">
                        <div class="butaos">
                            <div class="tipos" data-filter="salgado" style="margin-left: 12px;"><h2>Salgado</h2></div>
                            <div class="tipos" data-filter="doce"><h2>Doce</h2></div>
                            <div class="tipos" data-filter="bebida" ><h2>Bebida</h2></div>
                            <div class="simb" style="margin-right: 12px;">
                                <img src="/static/imagens/pausa.png" alt="simbolo de pausa e play">
                            </div>
        
                        </div>
                    </div>
                
            </div>

        </div>
        <div class="cardapao">
            <div class="quadrado">
                <div class="problema">

                    <div class="comidas salgado">
                        <img src="/static/imagens/torta-s.jpeg" alt="torta salgada" class="photo">

                        <div>
                            <h3 style="margin: 10px 0;">Torta salgada</h3>
                        <p style="margin: 0;">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                             Molestias deleniti enim voluptates iure doloribus harum nesciunt
                              consectetur eveniet vel molestiae.</p>
                        </div>
                    </div>

                    <div class="comidas salgado">
                        <img src="/static/imagens/torta-f.jpeg" alt="torta de frango" class="photo">

                        <div>
                            <h3 style="margin: 10px 0;">Torta de frango</h3>
                        <p style="margin: 0;">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                             Molestias deleniti enim voluptates iure doloribus harum nesciunt
                              consectetur eveniet vel molestiae.</p>
                        </div>
                    </div>
                </div>

                <div class="butico" id="verMais">
                    Ver Mais
                </div>

                <div class="chato">

                    <div class="comidasum salgado">
                        <img src="/static/imagens/batata.jpeg" alt="batata frita" class="photo">

                        <div>
                            <h3 style="margin: 10px 0;">Batata frita</h3>
                        <p style="margin: 0;">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                             Molestias deleniti enim voluptates iure doloribus harum nesciunt
                              consectetur eveniet vel molestiae.</p>
                        </div>
                    </div>

                    <div class="comidasum doce" id="1">
                        <img src="/static/imagens/bolo-m.jpeg" alt="bolo de morango" class="photo">

                        <div>
                            <h3 style="margin: 10px 0;">Bolo de morango</h3>
                        <p style="margin: 0;">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                             Molestias deleniti enim voluptates iure doloribus harum nesciunt
                              consectetur eveniet vel molestiae.</p>
                        </div>
                    </div>

                    <div class="comidasum doce">
                        <img src="/static/imagens/bolo-p.jpeg" alt="bolo de pote" class="photo">

                        <div>
                            <h3 style="margin: 10px 0;">Bolo de pote</h3>
                        <p style="margin: 0;">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                             Molestias deleniti enim voluptates iure doloribus harum nesciunt
                              consectetur eveniet vel molestiae.</p>
                        </div>
                    </div>

                    <div class="comidasum doce">
                        <img src="/static/imagens/bolo-r.jpeg" alt="bolo redvelvet" class="photo">

                        <div>
                            <h3 style="margin: 10px 0;">Bolo redvelvet</h3>
                        <p style="margin: 0;">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                             Molestias deleniti enim voluptates iure doloribus harum nesciunt
                              consectetur eveniet vel molestiae.</p>
                        </div>
                    </div>

                    <div class="comidasum doce">
                        <img src="/static/imagens/churros.jpeg" alt="churros" class="photo">

                        <div>
                            <h3 style="margin: 10px 0;">Churros</h3>
                        <p style="margin: 0;">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                             Molestias deleniti enim voluptates iure doloribus harum nesciunt
                              consectetur eveniet vel molestiae.</p>
                        </div>
                    </div>

                    <div class="comidasum bebida">
                        <img src="/static/imagens/coca.jpeg" alt="coca cola" class="photo">

                        <div>
                            <h3 style="margin: 10px 0;">Coca cola</h3>
                        <p style="margin: 0;">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                             Molestias deleniti enim voluptates iure doloribus harum nesciunt
                              consectetur eveniet vel molestiae.</p>
                        </div>
                    </div>

                    <div class="comidasum salgado">
                        <img src="/static/imagens/coxinha.jpeg" alt="coxinha" class="photo">

                        <div>
                            <h3 style="margin: 10px 0;">Coxinha</h3>
                        <p style="margin: 0;">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                             Molestias deleniti enim voluptates iure doloribus harum nesciunt
                              consectetur eveniet vel molestiae.</p>
                        </div>
                    </div>

                    <div class="comidasum bebida">
                        <img src="/static/imagens/fanta-u.jpeg" alt="fanta uva" class="photo">

                        <div>
                            <h3 style="margin: 10px 0;">Fanta uva</h3>
                        <p style="margin: 0;">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                             Molestias deleniti enim voluptates iure doloribus harum nesciunt
                              consectetur eveniet vel molestiae.</p>
                        </div>
                    </div>

                    <div class="comidasum bebida">
                        <img src="/static/imagens/guarana.jpeg" alt="refrigerante guarana" class="photo">

                        <div>
                            <h3 style="margin: 10px 0;">Refrigerante guaraná</h3>
                        <p style="margin: 0;">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                             Molestias deleniti enim voluptates iure doloribus harum nesciunt
                              consectetur eveniet vel molestiae.</p>
                        </div>
                    </div>

                    <div class="comidasum bebida">
                        <img src="/static/imagens/jesus.jpeg" alt="refrigerante jesus" class="photo">

                        <div>
                            <h3 style="margin: 10px 0;">Refrigerante jesus</h3>
                        <p style="margin: 0;">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                             Molestias deleniti enim voluptates iure doloribus harum nesciunt
                              consectetur eveniet vel molestiae.</p>
                        </div>
                    </div>

                    <div class="comidasum bebida">
                        <img src="/static/imagens/milkshake-c.jpeg" alt="milkshake de chocolate" class="photo">

                        <div>
                            <h3 style="margin: 10px 0;">Milkshake de chocolate</h3>
                        <p style="margin: 0;">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                             Molestias deleniti enim voluptates iure doloribus harum nesciunt
                              consectetur eveniet vel molestiae.</p>
                        </div>
                    </div>

                    <div class="comidasum bebida">
                        <img src="/static/imagens/milkshake-m.jpeg" alt="milkshake de morango" class="photo">

                        <div>
                            <h3 style="margin: 10px 0;">Milkshake de morango</h3>
                        <p style="margin: 0;">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                             Molestias deleniti enim voluptates iure doloribus harum nesciunt
                              consectetur eveniet vel molestiae.</p>
                        </div>
                    </div>

                    <div class="comidasum salgado">
                        <img src="/static/imagens/misto.jpeg" alt="misto quente" class="photo">

                        <div>
                            <h3 style="margin: 10px 0;">Misto quente</h3>
                        <p style="margin: 0;">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                             Molestias deleniti enim voluptates iure doloribus harum nesciunt
                              consectetur eveniet vel molestiae.</p>
                        </div>
                    </div>

                    <div class="comidasum doce">
                        <img src="/static/imagens/moouse-l.jpeg" alt="moouse de limão" class="photo">

                        <div>
                            <h3 style="margin: 10px 0;">Moouse de limão</h3>
                        <p style="margin: 0;">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                             Molestias deleniti enim voluptates iure doloribus harum nesciunt
                              consectetur eveniet vel molestiae.</p>
                        </div>
                    </div>

                    <div class="comidasum doce">
                        <img src="/static/imagens/moouse-m.jpeg" alt="moouse de maracujá" class="photo">

                        <div>
                            <h3 style="margin: 10px 0;">Moouse de maracujá</h3>
                        <p style="margin: 0;">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                             Molestias deleniti enim voluptates iure doloribus harum nesciunt
                              consectetur eveniet vel molestiae.</p>
                        </div>
                    </div>

                    <div class="comidasum salgado">
                        <img src="/static/imagens/sanduiche.jpeg" alt="sanduiche" class="photo">

                        <div>
                            <h3 style="margin: 10px 0;">sanduiche</h3>
                        <p style="margin: 0;">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                             Molestias deleniti enim voluptates iure doloribus harum nesciunt
                              consectetur eveniet vel molestiae.</p>
                        </div>
                    </div>

                    <div class="comidasum bebida">
                        <img src="/static/imagens/suco-l.jpeg" alt="suco de limão" class="photo">

                        <div>
                            <h3 style="margin: 10px 0;">Suco de limão</h3>
                        <p style="margin: 0;">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                             Molestias deleniti enim voluptates iure doloribus harum nesciunt
                              consectetur eveniet vel molestiae.</p>
                        </div>
                    </div>

                    <div class="comidasum bebida">
                        <img src="/static/imagens/suco-lara.jpeg" alt="suco de laranja" class="photo">

                        <div>
                            <h3 style="margin: 10px 0;">Suco de laranja</h3>
                        <p style="margin: 0;">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                             Molestias deleniti enim voluptates iure doloribus harum nesciunt
                              consectetur eveniet vel molestiae.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <footer class="footer"> 
        <div class="footer-line"></div> 
            <div class="footer-content"> 
                <div class="social-media"> 
                    <h3>REDES SOCIAIS</h3> 
                    <p>@_________</p> 
                    <p>(98) 9 XXXX-XXXX</p> 
                </div> 

                <div class="address"> 
                    <h3>ENDEREÇO</h3> 
                    <p>RUA X, N° X, BACABEIRA-MA</p>
              </div> 
            </div> 
    </footer>

</body>
<script src="/static/script.js"></script>
</html>